@keyframes scrollmove 
    0% 
        transform: translate(-50%, 50%)
    50% 
        transform: translate(-50%, 0%)
    100% 
        transform: translate(-50%, 50%)
    
@font-face 
  font-family: 'Gen Jyuu Gothic Bold'
  src: url(assets/font/1.ttf)

@font-face 
  font-family: 'Gen Jyuu Gothic Meduim'
  src: url(assets/font/2.ttf)

@font-face 
  font-family: 'Gen Jyuu Gothic Regular'
  src: url(assets/font/3.ttf)


*
    position: relative
    border: solid .5px black
    font-family: 'Gen Jyuu Gothic Bold', 'Gen Jyuu Gothic Meduim', 'Gen Jyuu Gothic Regular'


html, body
    padding: 0
    margin: 0
    width: 100%
    height: 600%
    overflow-x: hidden

section 
    height: 100vh
    width: 100vw

.nav_bar 
    position: fixed
    height: 8vh
    width: 100%
    display: flex
    justify-content: space-between
    z-index: 1
    a
        display: flex
        justify-content: center
        align-items: center
        img.icon
            width: 7vh
            height: 7vh
            border-radius: 100%
            cursor: pointer
            transition: 0.5s

// .nav_bar img.icon:hover 
//     background-color: #e3e82d

.nav_bar .nav_column 
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 10px
    height: 65vh
    top: 50%
    transform: translate(-280%, -50%)
    left: 10px
    transition: 0.5s
.nav_bar .nav_column .content 
    width: 3px
    height: 25px
    margin: 1px
    background-color: #666
    transition: 0.5s


.menu 
    width: 4vw
    height: 100%
    align-self: flex-end
    margin-right: 2vw
.menu .line 
    width: 100%
    height: 100%
    cursor: pointer
    transition: 0.5s
    display: flex
    justify-content: flex-end
    align-items: center
// .menu .line:hover .line1,
// .menu .line:hover .line2,
// .menu .line:hover .line3 
//     background-color: #e3e82d

.menu .line .line1,
.menu .line .line2,
.menu .line .line3 
    position: absolute
    height: 4px
    width: 40px
    background-color: #666
    transition: 0.5s
.menu .line .line1 
    transform: translateY(-280%)
.menu .line .line2
    transform: translateX(0)
    width: 25px
.menu .line .line3 
    transform: translateY(280%)

.menu .menu_list 
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-end
    position: absolute
    right: 0
    width: 7vw
    height: 40vh
    text-align: right
    transition: 0.5s
    z-index: 2
    transform: translateX(30vw)

.menu .menu_list a
    text-decoration: none
    right: 0px
    font-size: 17px
    color: #666

.menu_clicked
    transition: 0.5s

// .menu_clicked .line:hover .line1,
// .menu_clicked .line:hover .line2,
// .menu_clicked .line:hover .line3 
//     background-color: #73a2d0

.menu_clicked .line .line1
    transform: translate(0%,-50%) rotate(45deg)
.menu_clicked .line .line2 
    transform: translateX(-100%)
    opacity: 0
.menu_clicked .line .line3
    transform: translate(0%,-50%) rotate(-45deg)

.menu_clicked .menu_list 
    transform: translateX(0)

// .menu_clicked .menu_list a:hover 
//     color: #73a2d0


#header
    width: 100vw
    height: 120vh
    margin: 0
    padding: 0
    .container-fluid
        margin: 0
        padding: 0
        .banner_video
            width: 100%
            z-index: -1
#header .container-fluid.absolute
    position: absolute
    bottom: 0
#header .container-fluid
    position: fixed 
    .note
        width: 10vw
        position: absolute
        right: 8vw
        bottom: 8vh
        z-index: 1
        transform: translate(0, 0) rotate(0) scale(1)
        transition: 1s
        display: flex
        justify-content: center
        align-items: center
        .note_1
            width: 100%
        .band_1
            position: absolute
            width: 60%
            transform: translateY(1vh) rotate(15deg)

#header .container-fluid .explore 
    position: absolute
    left: 50%
    bottom: 0
    transform: translate(-50%, 50%)
    font-size: 2vh
    color: #333
    transition: 0.5s
    text-align: center
    line-height: 2vh
    opacity: 1
    animation: scrollmove 1.5s infinite

#header .container-fluid .explore.scrolled
    transform: translate(-50%, 150%)
    opacity: 0
#header .container-fluid .explore:after 
    display: block
    content: "v"
    transform: scale(1.2, 0.6)


#header .container-fluid .note.moved
    right: 18vw
    transform: translate(0vh, 60vh) scale(2.5) rotate(15deg)







section
    display: none
#section_notes
    display: initial
#cat_waveHand
    display: none
// header
//     display: none