@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

* {
  border: solid 1px black;
}

header {
  text-align: center;
  font-size: 40px;
}

section, footer {
  text-align: center;
  font-size: 40px;
  height: 300px;
}

footer {
  height: 100px;
}