
@keyframes scrollmove {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -20%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

section {
    height: 100vh;
}

.container-fluid {
    padding: 0;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 18px;
    line-height: 36px;
}

* {
    position: relative;
    user-select: none
}

html,
body {
    margin: 0;
    padding: 0;
    color: white;
}
body{
  overflow-x: hidden;
}

.nav_bar {
    position: fixed;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    z-index: 1;
}

.nav_bar img.icon {
    width: 40px;
    height: 40px;
    top: 5px;
    left: 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.nav_bar img.icon:hover {
    background-color: #e3e82d;
}

.nav_bar .nav_column {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10px;
    height: 65vh;
    top: 50%;
    transform: translate(-280%, -50%);
    left: 10px;
    transition: 0.5s;
}

.nav_bar .nav_column .content {
    width: 3px;
    height: 25px;
    margin: 1px;
    background-color: #666;
    transition: 0.5s;
}

.menu {
    width: 40px;
    right: 10px;
}

.menu .line {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.menu .line:hover .line1,
.menu .line:hover .line2,
.menu .line:hover .line3 {
    background-color: #e3e82d;
}

.menu .line .line1,
.menu .line .line2,
.menu .line .line3 {
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #666;
    left: 50%;
    top: 50%;
    transition: 0.5s;
}

.menu .line .line1 {
    transform: translateX(-50%) translateY(-280%);
}

.menu .line .line2 {
    left: 0;
    transform: translateX(60%) translateY(-50%);
    width: 20px;
}

.menu .line .line3 {
    transform: translateX(-50%) translateY(200%);
}

.menu .menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 80vh;
    padding: 5px 0px;
    transform: translateX(calc(100% + 10px)) translateY(100%);
    text-align: right;
    transition: 0.5s;
    z-index: 2;
}

.menu .menu_list a {
    text-align: center;
    text-decoration: none;
    right: 0px;
    margin: 3px;
    font-size: 24px;
    color: #666;
}

.menu_clicked {
    width: 40px;
    right: 10px;
    transition: 0.5s;
}

.menu_clicked .line {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.menu_clicked .line:hover .line1,
.menu_clicked .line:hover .line2,
.menu_clicked .line:hover .line3 {
    background-color: #73a2d0;
}

.menu_clicked .line .line1,
.menu_clicked .line .line2,
.menu_clicked .line .line3 {
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #666;
    left: 50%;
    top: 50%;
    transition: 0.5s;
}

.menu_clicked .line .line1 {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.menu_clicked .line .line2 {
    left: 0;
    width: 20px;
    opacity: 0;
}

.menu_clicked .line .line3 {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.menu_clicked .menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 80vh;
    padding: 5px 0px;
    transform: translateY(100%);
    text-align: right;
    transition: 0.5s;
    z-index: 2;
}

.menu_clicked .menu_list a {
    text-align: center;
    text-decoration: none;
    right: 0px;
    margin: 3px;
    font-size: 24px;
    color: #666;
    transition: 0.5s;
}

.menu_clicked .menu_list a:hover {
    color: #73a2d0;
}

#header {
    height: 200vh;
}

#header .container-fluid {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    bottom: 0;
}

#header .container-fluid .banner_video {
    height: 100vh;
    left: -2vw;
    z-index: -1;
}

#header .container-fluid .note {
    width: 10%;
    position: absolute;
    right: 5vw;
    bottom: 10vh;
    z-index: 1;
    transform: translate(0, 0) rotate(0) scale(1);
    transition: 1s;
}

#header .container-fluid .explore {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #333;
    top: 95%;
    transition: 0.5s;
    text-align: center;
    line-height: 18px;
    opacity: 1;
    animation: scrollmove 1.5s infinite;
}

#header .container-fluid .explore:after {
    display: block;
    content: "v";
    transform: scale(1.2, 0.6);
}

.fixed {
    position: fixed;
    bottom: 0;
}

.absolute {
    position: absolute;
    bottom: 0;
}

#section_notes .container-fluid {
    height: 100vh;
    background-image: url("assets/2_backnew.png");
    background-size: cover;
    z-index: -1;
}

#section_notes .container-fluid .note {
    transform: translate(0, 0) rotate(0deg) scale(1.7);
}

#section_notes .container-fluid .word_goodband {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, 0);
    width: 40vw;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #333;
}


#section_conflict {
    height: 200vh;
    background-image: url("assets/2_backnew.png");
    background-size: cover;
}

#section_conflict .container-fluid {
    height: 100vh;
}

#section_conflict .container-fluid .old,
#section_conflict .container-fluid .young {
    position: absolute;
    bottom: 0;
    transform: translate(0, -50%);
    height: 50vh;
}

#section_conflict .container-fluid .old {
    left: 0;
}

#section_conflict .container-fluid .young {
    right: 0;
}

#section_conflict .container-fluid .conversation {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100vh;
    padding: 5vh 0;
    padding-top: 8vh;
}

#section_conflict .container-fluid .conversation .line {
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

#section_conflict .container-fluid .conversation .line img {
    height: 12.5vh;
    width: auto;
}

#section_conflict .container-fluid .conversation .line1 {
    transform: translate(0, 0);
    left: -15%;
}

#section_conflict .container-fluid .conversation .line3,
#section_conflict .container-fluid .conversation .line5 {
    transform: translate(0, 0);
    left: -10%;
}

#section_conflict .container-fluid .conversation .line4,
#section_conflict .container-fluid .conversation .line6 {
    transform: translate(0, 0);
    left: 30%;
}

#section_conflict .container-fluid .conversation .line2 {
    transform: translate(0, 0);
    left: 42%;
}

#section_simple .container-fluid {
    height: 100%;
}

.fixed_photo {
    position: fixed;
    bottom: 3vh;
}

.abs_photo {
    position: absolute;
    bottom: 3vh;
}

#section_lowwage_question {
    background-color: rgb(0, 0, 40);
    height: 120vh;
}

section#section_lowwage_question .container-fluid {
    text-align: center;
    padding: 10px 150px;
    height: 100%;
    width: 100%;
}

section#section_realwage_1 .container-fluid {
    background-image: url("assets/4_back.svg");
    background-repeat: repeat;
    padding: 10px 30px;
}

section#section_realwage_1 .container-fluid {
    padding-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
}

.fixed_sticky {
    position: fixed;
    bottom: 5vh;
    top:10%;
}

.abs_sticky {
    position: absolute;
    bottom: 5vh;
    top:10%;
}

section#section_reason .container-fluid {
    padding: 80px 130px 80px 130px;
}

section#section_reason.content1 {
    padding: 14px 100px 8px 100px;
    margin-top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;

}

section#section_reason.content2 {
    margin-top: 800px;
    padding: 0px 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;

}

section#section_reason .p1 {
    font-size: 15px;
    line-height: 36px;
    color: #666;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

#section_contact {
  background-image: url("https://i.imgur.com/WWwDpVl.png");
  background-position: center;
  height: 100vh;
  transition: 2.5s;
  overflow: hidden;
}
#section_contact .container-fluid {
  height: 100vh;
}
#section_contact .container-fluid .great {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  opacity: 0;
}
#section_contact .container-fluid .mail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}
#section_contact .container-fluid .mail .mailcover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  transform: translate(-70%, -60%) rotate(-10deg);
  transition: 1s;
}
#section_contact .container-fluid .mail .mailbody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  z-index: 1;
  width: 55%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section_contact .container-fluid .mail .mailbody label {
  font-size: 36px;
  margin-top: 5%;
  margin-bottom: 3%;
}
#section_contact .container-fluid .mail .mailbody textarea {
  width: 80%;
  height: 60%;
}
#section_contact .container-fluid .mail .mailbody button {
  margin: 2% 0;
}


#section_road{
height: 361px;
overflow: hidden;
}

@keyframes cat_wavehand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
section#cat_explain {
  z-index: -1;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 1s;
}
section#cat_explain .explain {
  width: 40%;
  height: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
}
section#cat_explain .explain .close {
  width: 100%;
  cursor: pointer;
  position: absolute;
  color: #123;
  text-align: center;
  bottom: 0;
}

img#cat_wavehand {
  z-index: 10;
  right: -3%;
  bottom: 10%;
  position: fixed;
  width: 10%;
  transform: rotate(0deg);
  transform-origin: right bottom;
  animation: cat_wavehand 1.5s infinite;
  cursor: pointer;
}

.conclusion {
  color: #333;
}

#section_conclusion {
  /*background-image: url("https://i.imgur.com/hKxTaPe.png");*/
  background-color: #eee;
}
#section_conclusion .conclusion {
  margin: 0;
  font-size: 36px;
  text-align: center;
  top: 40%;
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);
}
#section_conclusion img {
  position: absolute;
  width: 25%;
}
#section_conclusion .left_dark {
  bottom: 5%;
  left: 5%;
}
#section_conclusion .right_dark {
  bottom: 5%;
  right: 5%;
}

#section_youngppl {
  height: 300vw;
}
#section_youngppl .container-fluid {
  background-color: #eee;
  padding: 0;
  width: 300vw;
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
#section_youngppl .container-fluid .people {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#section_youngppl .container-fluid .people .youngs {
  height: 100vh;
  left: 30vw;
  transform: translate(-30%, 0);
}
#section_youngppl .container-fluid .people .youngs img {
  height: 80vh;
}